.consultation {
  padding-bottom: 100px;
}
.consultation__box {
  height: 612px;
  width: 100%;
  display: flex;
}
.consultation__left {
  width: 500px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px 0 0 10px; 
}
.consultation__left-content {
  padding: 30px;
}
.consultation__left-top {
  border-bottom: 3px solid gray;
}

.consultation__left-text {
  color: rgb(32, 32, 32);
  text-align: LEFT;
  font-size: 1.8rem;
}

.consultation__left-text span {
  font-weight: 600;
}

.consultation__left-small {
  padding-top: 17px;
  font-size: 16px;
  padding-bottom: 16px;
}

.consultation__label {
  display: block;
  color: rgb(0, 0, 0);
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 13px;
}

.consultation__input {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(8, 160, 245);
  border-radius: 7px;
  font-size: 15px;
  font-weight: 400;
  height: 42px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  outline: none;
}

.concultation__btn {
  width: 100%;
  margin-top: 21px;
}

.concultation__btn:hover {
  transform: scale(1.05);
}

.consultation__right {
  width: 860px;
  height: 100%;
  background-image: url(https://thumb.tildacdn.com/tild3837-3364-4234-b936-333336333337/-/format/webp/-11_1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 10px 10px 0;
}

.consultation__right-content {
  color: white;
  padding-left: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 60px;
}

.consultation__right-title {
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 27px;
}

.consultation__right-text {
  color: white;
  font-weight: 400;
  letter-spacing: -0.5px;
  font-size: 18px;
  margin-top: 12px;
}
