.quiz__main-seven {
  width: 420px;
}
.custom-label {
  display: block;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  padding-right: 10px;
  margin-top: 13px;
}

.custom-input {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(8, 160, 245);
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  font-size: 16px;
  font-weight: 400;
  height: 58px;
  width: 383px;
  margin: 0;
  padding: 0 20px;
  line-height: 1.33;
  box-sizing: border-box;
  outline: none;
}
.custom-input--warning {
  border-color: rgb(197, 0, 0) !important;
  box-shadow: 1px 1px 0 0 rgb(196, 7, 7) !important ;
}
